<div class="workout-card" %>
  <div class="card-left">
    <h5><%= workout.today_or_day %></h5>
    <p><%= workout.categories %></p>
  </div>
  <div class="card-right">
    <div class="inline">
      <div class="inline icon-arrow-right"></div><h5 class="inline">Go to Workout</h5>
    </div>
    <br>
    <% if current_user.is_coach? %>
      <div class="card-coach-buttons">
        <%= link_to edit_workout_path(workout) do %>
          <h6 class="button-small">Edit</h6>
        <% end %>
        <%= link_to delete_workout_path(workout), method: "delete" do %>
          <h6 class="button-small-delete">Delete</h6>
        <% end %>
      </div>
    <% end %>
  </div>
</div>