<div class="workout-card" %>
  <div class="card-left">
    <h5><%= workout.today_or_day %></h5>
    <h6><%= workout.categories %></h6>
  </div>
  <div class="card-right">
    <div class="card-right-icon">
      <div class="icon-arrow-right"></div>
    </div>
    <div class="card-right-txt">
      <h5>Go to Workout</h5>
    </div>
  </div>
</div>