<div class="workout-card" %>
  <div class="card-left">
    <h5><%= workout.today_or_day %></h5>
    <p><%= workout.categories %></p>
  </div>
  <div class="card-right">
    <div class="inline">
      <div class="inline icon-arrow-right"></div><h5 class="inline">Go to Workout</h5>
    </div>
    <br>
    <% if current_user.is_coach? %>
      <div class="card-coach-buttons">
        <div class="card-btn">
          Edit
        </div>
        <div class="card-btn delete-btn">
          Delete
        </div>
      </div>
    <% end %>
  </div>
</div>