<div class="app-home">
  <div class="grid">
    <div class="block training">
      <div class="inner-block">
        <div class="block-title">
          <h3>Training</h3>
          <p>You have <%= @workouts_this_week.count %> workouts this week</p>
        </div>
        <% @workouts_this_week.each do |workout| %> 
          <%= link_to workout_path(workout) do %>
            <%= render partial: "workout_card", locals: {workout: workout} %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="block goals">
      <div class="inner-block">
        <div class="block-title">
          <h3>Goals</h3>
          <p>Feature not yet built</p>
        </div>
      </div>
    </div>

    <div class="block announcements">
      <div class="inner-block">
        <div class="block-title">
          <h3>Announcements</h3>
          <p>Feature not yet built</p>
        </div>
      </div>
    </div>
  
  </div>
</div>