<h1>App Home</h1>

<div class="app-home">
  <div class="grid">
    <div class="block training">
    </div>
    <div class="block announcements">
    </div>
    <div class="block goals">
    </div>
  </div>
</div>