.app-home {
  .grid {
    max-width: 1050px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1.5rem;
    grid-template-areas:
    "g1 g2"
    "g3 g2"
  }

  .block {
    border-radius: 1rem;
    margin-bottom: 1.5rem;
    background-color: var(--light-bg);
  }
  
  .training {
    grid-area: g1;
    height: 20rem;
  }
  
  .goals {
    grid-area: g2;
    height: 30rem;
  }
  
  .announcements {
    grid-area: g3;
    height: 20rem;
  }

}