.app-home {
  .grid {
    max-width: 1050px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5rem;
    grid-template-areas:
    "g1 g2"
    "g1 ."
    "g3 ."
  }
  
  .training {
    grid-area: g1;
  }
  
  .goals {
    grid-area: g2;
  }
  
  .announcements {
    grid-area: g3;
  }
}



.workout-card {
  width: auto;
  border-radius: 0.5rem;
  background-color: #ebebeb;
  // display: flex;
  // justify-content: space-between;
  display: grid;
  grid-template-columns: 2fr 1fr;


  animation-duration: 0.4s;
  padding: 1rem;
  margin: 0 0.25rem 1rem;
  animation-name: cardshrink;
  animation-fill-mode: forwards;
}

.card-right {
  width: max-content;
  visibility: hidden;
}

.card-coach-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5rem;
}

.card-btn {
  text-align: center;
  height: 1rem;
  font-size: 0.8rem;
  line-height: 1.2rem;
  border-radius: 0.5rem;
  background: rgba(129, 161, 192, 0.15);
}

.card-btn:hover {
  background: rgba(129, 161, 192, 0.3);
}

.coach-btn-2 {
  background-color: pink;
  // grid-area: b-right;
}

.button-small {
  background-color: yellow;
  grid-area: b-aleft;
  // background: rgba(129, 161, 192, 0.15);
  width: 3rem;
  height: 1rem;
  border-radius: 0.5rem;
  line-height: 1.2rem;
  text-align: center;
  margin-top: 3px;
}

.button-small:hover {
  background: rgba(129, 161, 192, 0.3);
}

.delete-btn:hover {
  background-color: hsla(352, 100%, 60%, 0.6);
}

.inline {
  display: inline-block;
  float: right;
  height: 1rem;
}


.workout-card:hover {
  color: #fff;
  animation-duration: 0.2s;
  animation-name: cardgrow;
  animation-fill-mode: forwards;

  .card-right {
    visibility: visible;
  }
}


@keyframes cardgrow {
  from {
    margin: 0 0.25rem 1rem;
  }

  to {
    margin: 0 0 1rem;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
    background-color: var(--darkblue);
    // background-color: #cedded;
  }
}

@keyframes cardshrink {
  from {
    margin: 0 0 1rem;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
    background-color: var(--darkblue);
    // background-color: #cedded;

  }

  to {
    margin: 0 0.25rem 1rem;
    
  }
}

@media only screen and (max-width: 675px) {

  .app-home {
    .grid {
      max-width: 1050px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr;
      grid-column-gap: 1.5rem;
      grid-template-areas:
      "g1"
      "g2"
      "g3"
    }
  }
  
}