/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
  margin: 0;
  padding: 0;
}

 html {
  font-family: calibre, sans-serif;
  font-size: 20px;
  --darkblue: #212C4F;
  --mint: #A6E1D5;
  --light-bg: #FAFAFA;
  --dark-txt: #1a1a1a;
}

body {
  color: var(--dark-txt);
}


h1 {
  font-weight: 700;
  font-size: 3rem;
}

h2 {
  font-weight: 700;
  font-size: 1.5rem;
}

h3 {
  font-weight: 500;
  font-size: 1.5rem;
}

h4 {
  font-weight: 700;
  font-size: 1rem;
}

h5 {
  font-weight: 600;
  font-size: 1rem;
}

p {
  font-weight: 400;
  font-size: 1rem;
}

.container {
  max-width: 1050px;
  margin: 0 auto;
  padding: 0 1rem;
}

nav {
  margin: 1rem auto 1.5rem;
  height: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-areas: 
  "logo . links";
}


.nav-logo {
  grid-area: logo;
  height: 2rem;
  width: 100px;
}

.nav-logo a {
  color: var(--dark-txt);
  line-height: 2.4rem;
  text-decoration: none;
}

.logo {
  height: 2rem;
  width: 150px;
}

.nav-links {
  grid-area: links;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
  grid-template-areas: 
  "n1 n2 n3 n4";
}

.nav-link {
  height: 2rem;
  min-width: 70px;
  line-height: 2.4rem;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  color: var(--dark-txt)
}

.nav-link:hover {
  font-weight: 600;
  color: var(--darkblue);
}

.nav-log {
  grid-area: n4;
}

.nav-account {
  grid-area: n3;
}

.nav-team {
  grid-area: n2
}

.nav-home {
  grid-area: n1;
}



