// Place all the styles related to the teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.team-show {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5rem;
    grid-template-areas:
    "g1 g2"
  }

  .team-workouts {
    grid-area: g1;
  }

  .roster {
    grid-area: g2;
  }

}


@media only screen and (max-width: 675px) {

  .team-show {
    .grid {
      max-width: 1050px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr;
      grid-column-gap: 1.5rem;
      grid-template-areas:
      "g1"
      "g2"
    }
  }
  
}